= render :haml, :partial_userpane, :locals => { :user => user }
= render :haml, :partial_searchbar
= render :haml, :partial_sidebar
#nolists{:class => (user.lists.empty? ? 'hi' : 'hidden')} You have no lists :(

#list-newest
	= render :haml, :partial_bookmarks, :locals => { :id => 'newest', :title => 'Newest bookmarks', :bookmarks => user.newest_bookmarks }
#lists
	- user.lists.sort.each do |list|
		= render :haml, :partial_list, :locals => { :list => list }
#addlist.button add list
