.list{:id => "list-#{list.id}"}
	.list_header
		%table{:class => 'list_header_table'}
			%tr
				%td
					.title&= list.title
				%td
					.actions.right
						.edit&= "#{list.users.size} user#{list.users.size > 1 ? 's' : ''}"
						%a{:href => "javascript:window.location = 'http://bookmarks.smattr.de/bookmarks/quick_new?title=' + escape(document.title) + '&url=' + escape(window.location) + '&list=' + #{list.id}", :class => 'bookmarklet'}
							bookmarklet
						.delete 
							.confirm unsubscribe
							.cancel.hidden cancel
	.bookmarks
		%ul
			%li{:id => "nobookmarks-#{list.id}", :class => list.bookmarks.empty? ? 'hi' : 'hidden'} No bookmarks yet :(
			- list.bookmarks.each do |bookmark|
				= render :haml, :partial_bookmark, :locals => { :bookmark => bookmark }
	.addbookmark add bookmark
